<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Sendig App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="main">
        <form action="/send_mail" method="post">
            <h2>Mail Sending Application</h2>
            <input type="email" name="to" id="to" placeholder="Enter Receiver Mail Address">
            <input type="text" name="subject" id="subject" placeholder="Enter the Subject of Mail">
            <textarea name="message" id="message" placeholder="Enter the Message"></textarea>
            <input class="button" type="submit" value="Send Mail">
        </form>
    </div>
    
</body>
</html>